body {
    min-height: 3000px;
}

.jumbotron {
    padding-top: 2rem ;
    padding-bottom: 10px;
    background-color: #b4b6b7;
    
    
}
#about {
    margin-top: 50px;
}
#projects {
    background-color: #b4b6b7;

}
#skils {
    margin: 30px;
    right:500px;
    height: 100px;

}

/* 
.main{
background-color: white;
border-style: solid;
width: 10;
height: 300px;
position: relative;
padding:initial;
margin-top: -1800px;
margin-left: 300px;
margin-right: 300px;

}
.lead {
    background-color: white;
border-style: solid;
width: 20;
height: 600px;
position: relative;
padding:initial;
margin-top: -1500px;
margin-left: 300px;
margin-right: 300px;


} */