body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(124, 127, 138);
}
    
.navegator {
    margin-left: auto;
    list-style-type:none;
    background-color:#66a9cf;
    color: #ffffff;
   text-align: center;
}

a  {
    text-decoration: none;
    list-style-type: none;
    margin: 10px ;
    display: inline-block;
    padding-top: 10px;
    margin-top: -52%;
    margin-bottom: -50%;
}


.background {
height: 500px;
width: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 500px;
position: relative;
text-align: center;
}

    
.about {
    text-align: center;
    top: 100%;
    left: 505%;
    transform: translate(-50%, -70%);
    color: rgba(11, 43, 90, 0.945);
    float: right;
    height: 250px;
    width: 40%;
    border-radius: 50px;


}
.hide {
    display: none;
}
.about :hover + .hide{
    display: inline-block;

}
h2 {
    font-size: 35px;
    margin: 10px;
    font-weight: bold;
}
p {
    margin: 50px;
}
.about div{ 
    margin: 2px;
    background: #ffffff;
    opacity: 0.8;

}

.content{
   
    width: 75%;
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
}
h3 {
    font-family:  Arial, Helvetica, sans-serif;
    top: 100%;
 

}
.projects {
    
    position: center ;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    right:500px;
    height: 200px;
    font-family:  Arial, Helvetica, sans-serif;
    background-color: #b8cbd6;
    color:rgba(11, 43, 90, 0.945);
   
    
}
.projects img {
    list-style-type: none;
    max-height: 150px;
    
    
  
}
.skills {
    position: center ;
    margin-top: 10px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    right:500px;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:  #b8cbd6;;
    color:rgba(11, 43, 90, 0.945);
    font-weight: 900;


}
.skills img {
    list-style-type: none;
    max-height: 50px;
    text-justify: auto;
    position: center;
 
}
 .grow {
     transition: all;
 }
 .grow:hover {
     transform: scale(1.1) ;
 }

.footer {
    background-color:#66a9cf;
    color: rgba(11, 43, 90, 0.945);
    clear: both;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.footer  {
    font-size: 10px;
}
.footer .box1 {
    text-decoration: none;
    display:inline-flexbox;
    font-size: 20px;
    width:  700px 20px  40px;
    height: 700px 20px 10px;
    background: rgb(248, 248, 176) ;
    margin: 10px;
    box-sizing: border-box ;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    opacity: 0.7;
}
.grow:hover {
    transform: scale(1.1) ;


}

/* media  */
@media screen and (max-width: 600px) {
    .content .about {
      width: 100%;
    }
  }